.wrap {
	max-width: 1440;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.header{
    width: 500px;
    height: 100px;
    background: #eee;
    }
.logo{
    width: 60px;
    height: 60px;
    background: pink;
}

 